<% @page_title = "Editing employee" %>
<p>Editing employee of account <em><%= h @account.name %></em></p>
<%= render :partial => "employees/form", :locals => {:account => @account,
                                                     :employee => @employee} %>