<% @page_title = "New employee" %>
<p>Creating employee to account <em><%= h @account.name %></em></p>
<%= render :partial => "employees/form", :locals => {:account => @account,
                                                     :employee => @employee} %>